body {
    background-color: #e5ddd5; /* لون خلفية */
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #075e54; /* لون الهيدر */
    color: white; /* لون النص */
    padding: 10px 0;
}

#messages {
    padding-bottom: 80px; /* تغيير التباعد بين الرسائل */
    overflow-y: scroll; /* إضافة تمرير عمودي */
    height: 70vh; /* تحديد ارتفاع محدد للرسائل */
}

li {
    list-style-type: none;
    margin-bottom: 10px;
    background-color: #dcf8c6; /* لون الرسالة */
    padding: 10px;
    border-radius: 20px; /* زاوية الحواف */
    color: #075e54; /* لون النص */
    max-width: 70%; /* الحد الأقصى لعرض الرسالة */
}

li.sent {
    text-align: right;
    background-color: #dcf8c6; /* لون الرسالة المرسلة */
}

li span {
    font-style: italic;
    font-weight: bold;
    color: #999; /* لون النص الفرعي */
}

#chat {
    width: 80%;
    margin: auto;
}

#message-form {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f0f0f0; /* لون النموذج */
    padding: 10px 0; /* تباعد الحواف */
}

input[type="text"] {
    width: 70%;
    height: 30px;
    border: none;
    padding: 5px;
    border-radius: 20px;
    margin-right: 5px;
}

button {
    width: 25%;
    height: 38px;
    background-color: #128c7e; /* لون زر الإرسال */
    color: white; /* لون النص */
    border: none;
    border-radius: 20px;
}
